<?xml version="1.0" encoding="UTF-8"?>
<AlteryxJavaScriptPlugin>
   <Properties>
      <MetaInfo>
         <Name>Google Analytics</Name>
         <Description>Read and query data from Google Analytics Core Reporting API.</Description>
         <ToolVersion>7</ToolVersion>
         <CategoryName>Connectors</CategoryName>
         <Author>Alteryx</Author>
         <Icon>Google Analytics\Google AnalyticsIcon.png</Icon>
      </MetaInfo>
   </Properties>
</AlteryxJavaScriptPlugin>
